*.poti.scala
/src/*/*a.poti
/src/*/*b.poti
/src/*/*c.poti
/src/*/*.txt
/categorias/sql.md
/*.poti
.metals/
.metals/*
.vscode/launch.json
.vscode/settings.json
/*.scala
/*.sh
/*.txt
*.out
/null/
/.vscode/