*.poti.scala
/src/*/*[a-e,g-z].poti
/src/*/*.txt
/*.poti
/src/*.poti
/bin/*.poti
.metals/
.metals/*
.vscode/launch.json
/*.scala
/src/*/*.scala
/src/*.scala
*.java
*.py
/*.sh
/*.txt
# *.in
# *.out
/null/
/.vscode/
*.bak
.*/
cache/*
node_modules/*
